{{#> layout }}
  <h2 style="font-size: 18px;">Hello there!</h2>
  <p style="font-size: 14px;">Here is your email reset password link</p>
  <h3 style="font-size: 24px;">
    {{code}}
  </h3>
  <p style="font-size: 12px;">The link is only valid for the next 10 minutes</p>
{{/layout }}